.Location {
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.1);
}

.Location .City {
    color: #FFF;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 6px;
}

.Location .Date {
    color: #FFF;
    font-weight: 500;
    font-size: 30px;
}